# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\搜一搜测试\广告自动化\packagePush\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
